/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {

}

html, body{
    width:100%;
    height: 100%;
}

#scene{
	background: url(../img/planet_saturated.png);
	background-size: cover;
	background-repeat: no-repeat;
	transition: 2s;
}

polygon{
	transition: 2s;
}
polygon:hover  {
	// -webkit-filter: url(#colorMeSaturate);
   // stroke: green;
   // fill: red;
   opacity: 0;
   transition: 0s;
}
polygon[data-name="leaf"]{
	
}


#SubSahara, #SouthAm, #MiddleAm, 
#USCanada, #North_Africa, #Europe, 
#MiddleEast, #CentralAsia, #Russia, 
#SEAsia, #India, #Australia, {
	&:hover{
		cursor: pointer;
	}
}

#Oceans{
	visibility: hidden;
}
.animal-page{
	display: none;
	&.active{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9999999;
	}
}
.SubSahara_clicked{
	transform-origin: 50% 63%;
	transform: scale(2.5);

}
.SouthAm_clicked{
	transform-origin: 10% 60%;
	transform: scale(2.5);

}
.MiddleAm_clicked{


}
.USCanada_clicked{
	transform-origin: 10% 30%;
	transform: scale(3.0);

}
.North_Africa_clicked{
	transform-origin: 50% 45%;
	transform: scale(5.0);

}
.Europe_clicked{
	transform-origin: 52% 23%;
	transform: scale(4);

}
.MiddleEast_clicked{
	transform-origin: 65% 38%;
	transform: scale(3.0);

}
.CentralAsia_clicked{

}
.Russia_clicked{
	transform-origin: 80% 8%;
	transform: scale(3.0);

}
.SEAsia_clicked{


}
.India_clicked{

}
.Australia_clicked{

}

.africanlion{

}
.hyena{

}
.redwolf{
	width: 100%;
	height: 100%;
	color: white;
	// opacity: .5;
	.redwolf-bg{
		background-color: #e19259;
		opacity: 0.8;
		width: 100%;
		height: 100%;

	}
	svg{
		width: 500px;
		height: 500px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 9999999;
		margin-top: -110px;	
	}
	.exit{
		position: absolute;
		right: 20px;
		top: 20px;
		width: 50px;
		height: 50px;
		z-index: 10000000;
	}
	.redwolf-image{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 820px;
	}
	.green-bottom{
		position: absolute;
		top: 68%;
		left: 42%;
		transform: translate(-50%, -50%);
		z-index: 100000000;
	}
	.text{
		position: absolute;
		z-index: 9999999;
		top: 0;
		left: 0;
		h1{
			text-transform: uppercase;
			font-family: Helvetica, sans-serif;
			font-size: 4rem;
			background-color: #5bb336;
			width: 360px;
			margin: 40px;
		}

		p{
			font-family: Helvetica, sans-serif;
			font-size: 2rem;
			margin: 20px 0 0 40px;

			span{
				background-color: #c9da24;

			}
		}
	}

}
.monkseal{

}
.komodo{

}
.orangutan{

}
.panda{

}
.spidermonkey{

}
.tiger{

}
.tortoise{
	width: 100%;
	height: 100%;
	color: white;
	// opacity: .5;
	.tortoise-bg{
		background-color: #6a9796;
		opacity: 0.8;
		width: 100%;
		height: 100%;

	}
	svg{
		width: 500px;
		height: 500px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 9999999;
		margin-top: -110px;	
	}
	.exit{
		position: absolute;
		right: 20px;
		top: 20px;
		width: 50px;
		height: 50px;
		z-index: 10000000;
	}
	.tortoise-image{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 820px;
	}
	.green-bottom{
		position: absolute;
		top: 68%;
		left: 42%;
		transform: translate(-50%, -50%);
		z-index: 100000000;
	}
	.text{
		position: absolute;
		z-index: 9999999;
		top: 0;
		left: 0;
		h1{
			text-transform: uppercase;
			font-family: Helvetica, sans-serif;
			font-size: 4rem;
			background-color: #9ccc39;
			width: 780px;
			margin: 40px;
		}

		p{
			font-family: Helvetica, sans-serif;
			font-size: 2rem;
			margin: 20px 0 0 40px;

			span{
				background-color: #cadb27;

			}
		}
	}
}
.wallaby{

}
.whiterhino{

}






































